*{
    padding: 0;
    margin: 0;
    font-family:Verdana, Geneva, Tahoma, sans-serif
  
}
body{
    background-color: rgb(12, 26, 26);
}
.container{
    max-width: 400px;
    margin: 10vh auto 0  auto;
    background-color: rgb(16, 17, 17);
    border-radius: 10px; 
    box-shadow: 0px 0px 15px 15px rgb(36, 34, 34);  
}
#display{
    height: 70px;
    padding: 20px;
    font-size: 25px;

}
.buttons{
   display: grid;
   color: green;
   grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
   font-size: 30px;
   border-radius: 20px;
}
.button{
    border: 0.5px solid rgb(87, 47, 47) ;
    text-align: center;
    line-height: 100px;
    cursor: pointer;
}

#clear {
    background-color: rgb(95, 16, 16);
}

#clear-all {
    background-color: rgb(95, 16, 16);
}
#equal {
    background-color: rgb(126, 165, 179);
}